.env
Old/
/.ipynb_checkpoints
data/MAEC_dataset.csv
data/original_dataset.csv
data/MAEC_GitHub_features.csv
data/data_prep/MAEC_glove_features.csv
data/data_prep/MACE_RoBERTa_features.csv
data/data_prep/RoBERTa_features2.csv
data/data_prep/bge_features.csv
data/data_prep/MAEC_RoBERTa_features.csv
data/data_prep/investopedia_features.csv
data/data_prep/RoBERTa_features.csv
/data/bge
/data/glove
/data/investopedia

/data/bge/test_features.npy
/data/bge/train_features.npy
/data/bge/val_features.npy
/data/bge_base/test_features.npy
/data/bge_base/train_features.npy
/data/bge_base/val_features.npy
/data/data_prep/bge_base_features.csv
/data/data_prep/bge_features.csv
/data/data_prep/glove_features.csv
/data/data_prep/investopedia_features.csv
/data/data_prep/MAEC_bge_base_features.csv
/data/data_prep/MAEC_bge_features.csv
/data/data_prep/MAEC_glove_features.csv
/data/data_prep/MAEC_investopedia_features.csv
/data/data_prep/MAEC_praat_features.csv
/data/data_prep/MAEC_RoBERTa_features.csv
/data/data_prep/MAEC_RoBERTa_features2.csv
/data/data_prep/RoBERTa_features.csv
/data/data_prep/RoBERTa_features2.csv
/data/glove/test_features.npy
/data/glove/train_features.npy
/data/investopedia/test_features.npy
/data/investopedia/train_features.npy
/data/investopedia/val_features.npy
/data/MAEC_bge/test_features_2015.npy
/data/MAEC_bge/test_features_2016.npy
/data/MAEC_bge/test_features_2017.npy
/data/MAEC_bge/train_features_2015.npy
/data/MAEC_bge/train_features_2016.npy
/data/MAEC_bge/train_features_2017.npy
/data/MAEC_bge/val_features_2015.npy
/data/MAEC_bge/val_features_2016.npy
/data/MAEC_bge/val_features_2017.npy
/data/MAEC_bge_base/test_features_2015.npy
/data/MAEC_bge_base/test_features_2016.npy
/data/MAEC_bge_base/test_features_2017.npy
/data/MAEC_bge_base/train_features_2015.npy
/data/MAEC_bge_base/train_features_2016.npy
/data/MAEC_bge_base/train_features_2017.npy
/data/MAEC_bge_base/val_features_2015.npy
/data/MAEC_bge_base/val_features_2016.npy
/data/MAEC_bge_base/val_features_2017.npy
/data/MAEC_glove/test_features_2015.npy
/data/MAEC_glove/test_features_2016.npy
/data/MAEC_glove/test_features_2017.npy
/data/MAEC_glove/train_features_2015.npy
/data/MAEC_glove/train_features_2016.npy
/data/MAEC_glove/train_features_2017.npy
/data/MAEC_glove/val_features_2016.npy
/data/MAEC_glove/val_features_2017.npy
/data/MAEC_investopedia/test_features_2015.npy
/data/MAEC_investopedia/test_features_2016.npy
/data/MAEC_investopedia/test_features_2017.npy
/data/MAEC_investopedia/train_features_2015.npy
/data/MAEC_investopedia/train_features_2016.npy
/data/MAEC_investopedia/train_features_2017.npy
/data/MAEC_investopedia/val_features_2015.npy
/data/MAEC_investopedia/val_features_2016.npy
/data/MAEC_investopedia/val_features_2017.npy
/data/MAEC_RoBERTa/test_features_2015.npy
/data/MAEC_RoBERTa/test_features_2016.npy
/data/MAEC_RoBERTa/test_features_2017.npy
/data/MAEC_RoBERTa/train_features_2015.npy
/data/MAEC_RoBERTa/train_features_2016.npy
/data/MAEC_RoBERTa/train_features_2017.npy
/data/MAEC_RoBERTa/val_features_2015.npy
/data/MAEC_RoBERTa/val_features_2016.npy
/data/MAEC_RoBERTa/val_features_2017.npy
/data/MAEC_RoBERTa2/test_features_2015.npy
/data/MAEC_RoBERTa2/test_features_2016.npy
/data/MAEC_RoBERTa2/test_features_2017.npy
/data/MAEC_RoBERTa2/train_features_2015.npy
/data/MAEC_RoBERTa2/train_features_2016.npy
/data/MAEC_RoBERTa2/train_features_2017.npy
/data/MAEC_RoBERTa2/val_features_2015.npy
/data/MAEC_RoBERTa2/val_features_2016.npy
/data/MAEC_RoBERTa2/val_features_2017.npy
/data/Roberta/test_features.npy
/data/Roberta/train_features.npy
/data/Roberta/val_features.npy
/data/Roberta2/test_features.npy
/data/Roberta2/train_features.npy
/data/Roberta2/val_features.npy
