data/MAEC_dataset.CSV filter=lfs diff=lfs merge=lfs -text
data/TEXT_emb.npy filter=lfs diff=lfs merge=lfs -text
data/original_dataset.CSV filter=lfs diff=lfs merge=lfs -text
data/MAEC_GitHub_features.CSV filter=lfs diff=lfs merge=lfs -text
data/data_prep/MAEC_glove_features.CSV filter=lfs diff=lfs merge=lfs -text
data/data_prep/RoBERTa_features.CSV filter=lfs diff=lfs merge=lfs -text
data/data_prep/glove_features.CSV filter=lfs diff=lfs merge=lfs -text
data/data_prep/MAEC_praat_features.CSV filter=lfs diff=lfs merge=lfs -text
data/MAEC_GitHub_features.zip filter=lfs diff=lfs merge=lfs -text
data/TEXT_emb.zip filter=lfs diff=lfs merge=lfs -text
data/MAEC_dataset.zip filter=lfs diff=lfs merge=lfs -text
data/data_prep/MAEC_glove_features.zip filter=lfs diff=lfs merge=lfs -text
